<div class="ay-article">
    <div class="ay-article-header">
        <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1> 
        {% unless page.categorie == empty %}
            <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ page.category }}-ref"> {{ page.category }} </a>
        {% endunless %}
        {% if page.author %}
            <span> | {{ page.author }}</span>
        {% else %}
            <span> | ayfickle</span>
        {% endif %}
    </div>
    <div class="ay-article-content">
        <div class="ay-date">
            <span>{{ page.date | date: "%m月" }}</span></br>
            <span>{{ page.date | date: "%d" }}</span>
        </div>
        <div class="ay-content">
            {{ content }}
        </div>
        {% unless page.tags == empty %}
        <div class="ay-tag ay-article-tags">
            tags : 
            {% assign tags_list = page.tags %} {% include JB/tags_list %}
        </div>
        {% endunless %}
        <hr>
        <ul class="pager ay-pagination">
            {% if page.previous %}
            <li class="previous"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; 上一篇</a></li>
            {% else %}
            <li class="previous disabled"><a>&larr; 上一篇</a></li>
            {% endif %}
            <li class="text-center"><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">返回目录</a></li>
            {% if page.next %}
            <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇 &raquo;</a></li>
            {% else %}
            <li class="next disabled"><a>下一篇 &rarr;</a> {% endif %}
        </ul>
    </div>
</div>
