/* Jekyll Bootstrap Colors */
html, body {
    min-height: 100%;
    height: 100%;
    background: #eee;
}

#wrap {
    min-height: 100%;
}

#footer {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 0;
    border-top: 1px solid #ddd;
    color: #999;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

#footer p {
    margin: 0;
}

.ay-page-header {
    text-align: center;
    color: #AFB5B3;
    font-size: 3em;
    -webkit-animation: Glow 1.5s ease infinite alternate;
    animation: Glow 1.5s ease infinite alternate;
    transition: all 1.5s ease;
}

/* comm ones */
h2 {
    margin: 10px 0;
    font-size: 20px;
}
ul {
    list-style: none;
}
a:hover, .ay-href a:hover {
    /*-webkit-animation: Glow 1.5s ease infinite alternate;
    animation: Glow 1.5s ease infinite alternate;
    transition: all 1.5s ease;*/
    color: #81cdb8;
    text-decoration: none;
}
.no-margin {
    margin: 0;
}
.margin-left {
    margin-left: 20px;
}
@media (min-width: 768px) {
    .col-sm-6 {
        width: calc(50% - 22px);
    }
    .row .col-sm-6:nth-child(2n+1) {
        clear: left;
    }
}
@media (min-width: 992px) {
    .col-md-4 {
        width: calc(33.33% - 22px);
    }
    .row .col-md-4:nth-child(3n+1) {
        clear: left;
    }
    .row .col-sm-6:nth-child(2n+1) {
        clear: none;
    }
}
/*@media (min-width: 1200px) {
    .col-lg-3 {
        width: calc(25% - 22px);
    }
    .row .col-lg-3:nth-child(4n+1) {
        clear: left;
    }
    .row .col-md-4:nth-child(3n+1) {
        clear: none;
    }
    .row .col-sm-6:nth-child(2n+1) {
        clear: none;
    }
}*/
/* post ones */
.ay-href {
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 2px 3px #ddd;
    border: 1px solid #ddd;
    margin-right: 20px;
    position: relative;
}

.ay-href a {
    font-size: 16px;
    color: #666;
}

.ay-href .ay-href-left {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #95d4c3;
    text-align: center;
    border-radius: 50%;
    color: #fff;}

.ay-href .ay-href-left span:first-child, .ay-date span:first-child {
    font-size: 10px;
}

.ay-href .ay-href-right {
    float: left;
    margin-left: 10px;
    width: calc(100% - 50px);
}

.ay-href .ay-page-title a {
    font-size: 18px;
}

/* tag */
.ay-tag {
    margin: 20px 0;
}

.ay-tag div {
    display: inline-block;
    vertical-align: middle;

}

.ay-tag a {
    padding: 8px 15px;
    margin: 2px;
    background: #eee;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    border: 1px dashed #cccccc;
}

.ay-tag a span {
    vertical-align: super;
    font-size: 0.8em;
}

.ay-tag a:hover {
    background-color: #e5e5e5;
}

.ay-tag a.active {
    background: #57A957;
    border: 1px solid #4c964d;
    color: #FFF;
}

/* article */
.ay-article {
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 1px 2px 3px #ddd;
    box-shadow: 1px 2px 3px #ddd;
    border: 1px solid #ddd;
    position: relative;
    margin-top: 25px;
}
.ay-article-header {
    text-align: center;
    font-weight: bold;
    margin: 40px 0 25px;
}
.ay-article-header h1 {
    font-size: 30px;
}
.ay-date {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #95d4c3;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    top: -15px;
    left: -15px;
}

.ay-article .ay-content {
    padding: 0 25px;
    font-size: 16px;
    line-height: 1.6;
}

.ay-content h3 {
    font-size: 1.5em;
    line-height: 1.43;
    margin-bottom: 15px;
    font-weight: bold;
}

.ay-content p {
    margin-bottom: 15px;
}

.ay-content h4 {
    font-size: 1.25em;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 1.4;
}

.ay-content h5 {
    font-size: 1em;
    margin-bottom: 15px;
    font-weight: bold;
}

.ay-content>ul {
    list-style: disc;
    padding-left: 2em;
}

.ay-content>ul ul {
    list-style-type: circle;
    margin: 0 15px;
    padding-left: 1em;
}

.ay-content li {
    margin: 8px 0;
}

.ay-content li code {
    display: block;
    background-color: #fff;
    padding-left: 0;
}

.ay-content li img {
    max-height: 300px;
    margin-left: 20px;
    max-width: 100%;
}

.ay-content blockquote {
    margin: 10px 0 15px;
    border-left: 5px solid #ddd;
    padding-left: 15px;
}

.ay-content blockquote p {
    font-size: 16px;
}

.ay-article-tags {
    text-align: right;
    padding-right: 30px;
}

.ay-pagination {
    padding: 0 30px;
}